BOT_TOKEN=replace_with_your_token
# TEST_MODE=0
# SUSPECT_SCORE_THRESHOLD=45
# BLOCK_SCORE_THRESHOLD=75
# SUSPECT_ESCALATION_COUNT=3
# WINDOW_SECONDS=120
# FLOOD_COUNT=4
# DUPLICATE_WINDOW_SECONDS=600
